<div class="modal fade" id="peopleModal" tabindex="-1" role="dialog" aria-labelledby="peopleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="peopleModalLabel">Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="people">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <img class="img-fluid" alt="Guess who am I?" [src]="people.image || noimage">
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="list-group list-group-flush">
                            <app-detail-item title="Specie" [value]="listSpecies() || 'Loading species'"></app-detail-item>
                            <app-detail-item title="Height" [value]="people.height.toString()"></app-detail-item>
                            <app-detail-item title="Hair" [value]="people.hair_color | titlecase"></app-detail-item>
                            <app-detail-item title="Planet" [value]="getPlanet() || 'Loading Homeworld'"></app-detail-item>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">

                        <div class="mx-1 list-group">
                            <app-detail-item title="Films" [value]="listFilms() || 'Loading films'"></app-detail-item>
                            <app-detail-item title="Vehicles" [value]="listVehicles() || 'Loading vehicles'"></app-detail-item>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>