<div class="container">
    <p class="text-center text-muted" *ngIf="!peoples.length">
        Loading data
    </p>
    <app-people-modal [people]="people"></app-people-modal>
    <div class="row">
        <div class="col-md-4 col-12" *ngFor="let people of peoples; let i=index">
            <app-people [people]="people" (peopleInfo)="getPeopleInfo($event)"></app-people>
        </div>
    </div>
    <div class="row" *ngIf="peoples.length">
        <app-pagination [previous]="response?.previous" [next]="response?.next || null"></app-pagination>
    </div>
</div>